s2_ts.pro.user
s2_ts.user
s2_ts.pro.user*
theia_d/search.json
illu/*
!illu/*.R
*.autosave
documentation/*.aux
documentation/*.bbl
documentation/*.blg
documentation/*.log
documentation/*.out
documentation/*.toc
documentation/*.synctex.gz
documentation/Images/smiley*
build-s2_postProcess/*
build-s2_carteEss/*
build-s2_ts/*
documentation/Images/etatSan/*
s2_carteEss/s2_carteEss.pro.user
s2_carteEss/s2_carteEss.pro.user*
s2_postProcess/s2_postProcess.pro.user
s2_postProcess/s2_postProcess.pro.user*
s2_postProcess/s2_postProcess.user
