s2_ts.pro.user
s2_ts.user
s2_ts.pro.user*
theia_d/search.json
illu/*
!illu/*.R
*.autosave
documentation/*.aux
documentation/*.log
documentation/*.out
documentation/*.toc
documentation/*.synctex.gz
documentation/Images/smiley*
build-s2_postProcess/*
documentation/Images/etatSan/*
s2_postProcess/s2_postProcess.pro.user
s2_postProcess/s2_postProcess.pro.user*
s2_postProcess/s2_postProcess.user
