s2_ts.pro.user
s2_ts.user
s2_ts.pro.user*
theia_d/search.json
illu/*
!illu/*.R
*.autosave
documentation/*.aux
documentation/*.blg
documentation/*.out
documentation/*.toc
documentation/*.log
documentation/*.synctex.gz
documentation/Images/smiley*
build-*/*
build-s2_postProcess/*
build-s2_carteEss/*
build-s2_ts/*
documentation/Images/etatSan/5/*
documentation/Images/etatSan/6/*
s2_carteEss/s2_carteEss.pro.user
s2_carteEss/s2_carteEss.pro.user*
s2_postProcess/s2_postProcess.pro.user
s2_postProcess/s2_postProcess.pro.user*
s2_postProcess/s2_postProcess.user
dc_tool/*.user
